@font-face {
    font-family: 'FuenteCyberpunk';
    src: url('/assets/fonts/glitch_goblin/GlitchGoblin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  



* {
    color: white;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    font-family: var(--fuente-personalizada);
    height: 100%;
    font-family: 'FuenteCyberpunk';
}

body {
    background-image: url("/assets/images/wallpaper_ia_reescalado.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    padding: 2%;

}

.tarjeta{
    border: 1px solid black;
    border-radius: 1%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Negro semitransparente */
}

.titulo{
    text-align: left;
    margin-left: 2%;
}
header{
    background-color: rgba(0, 0, 0, 0.8); /* Negro semitransparente */;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1.3vh;
    border-bottom-left-radius: 0;
    


}

nav{
    display: flex;
}

li{
    text-decoration: none;
}

nav li {
    list-style-type: none;
    margin: 2vh;
}

.rrss{
    height: auto;
    width: 5vh;
}
