@font-face {
    font-family: 'FuenteCyberpunk';
    src: url('./assets/fonts/glitch_goblin/GlitchGoblin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  



* {
    color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    caret-color: transparent; /* para que no salga la barra vertical del ratón semitransparente */
}

html, body{
    font-family: var(--fuente-personalizada);
    height: 100%;
    font-family: 'FuenteCyberpunk';
}

body {
    background-image: url("./assets/images/wallpaper_ia_reescalado.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    padding: 3%;
    overflow: hidden;
    

}

img {
    max-width: 100%;
    height: auto;
}

.tarjeta{
    border-radius: 1%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Negro semitransparente */
    display: flex;
    flex-direction: column;
}



.titulo{
    text-align: left;
    margin-left: 2%;
    font-size: 6vh;
}

.titulo, .h1_proyectos_neon{
    font-size: calc(2vw + 2em); /* Escala con el ancho de la pantalla */
}

.bio,.subtitulo {
    font-size: calc(1vw + 1em);
}

header{
    background-color: rgba(255, 0, 0, 0.57);
    display: flex;
    flex-direction: ;
    justify-content: space-between;
    align-items: center;
    border-radius: 1.3vh;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 1em;
}

.ul_rrss{
    display: flex;
}

li{
    text-decoration: none;
}

.li_rrss{
    list-style-type: none;
    margin: 2vh;
}

.rrss{
    height: auto;
    width: 5vh;
}

.area_perfil{
    display: flex;
    flex-direction: ;
    flex-grow: 1;  /* rellena el espacio restante*/
    border-radius: 1%h;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    overflow:hidden; /* evita el scroll */
}



.img_area_foto{
    border-radius: 100%;
    width: 70%;
    height: auto;
}



.cuadro_bio, .cuadro_projectos,.hero {
    min-width: 100%;
    font-size: 1.5em;
    padding-top: 1px;
    margin-top: 1px;

}
.titulo_foto{
    text-align: center;
    margin:5%;
}


.cuadro{
    flex: 1;
    align-items: center;
    align-content: center;
    border: 1px solid yellow;
    font-size: 3em;
}

.cuadro_bio{
    display: flex;
    flex: 1;
    margin: 5px;
    align-items: center;
    align-content: center;
    margin-bottom: 10%;
    min-width: 33%;
    margin-top: 11vh;
    flex-direction: column;
    height: auto;
}

.cuadro_projectos{
    align-content: center;
    align-items: center;
    min-width: 33%;
    overflow: auto; 
}

.hero{
    display: flex;
    flex-direction: column;
    min-width: 33%;
    flex: 1;
    justify-content: center;
    align-items: center;
}


.foto_perfil{
    width: 50%;
    height: auto;
    border-radius: 100%;
}


.titulo_tarjeta{
    text-align: center;
    font-size: 4vh;
}

.subtitulo{
    text-align: center;
    font-size: 1.5em;
}


.separador_bio{
    border: 1px solid red;
    width: 50%;
    margin-left: 2.75%; 
}

.bio{
    margin-top: 5%;
    text-align: center;
    font-size: 2vh;
    font-family: monospace;
}


.h1_proyectos_neon{
    font-size: 5em;
}

.ul_proyectos_neon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	margin: 0;
	padding-top: 1%;
}


.ul_proyectos_neon li{
    position: relative;
	list-style: none;
	color: #fff;
	font-family: monospace;
	cursor: pointer;
	box-sizing: border-box;
	transition: 0.5s;
    z-index: 1;
    width: 90%;
    text-align:center;
    padding: 3%;
    border-bottom: 0.1vh solid rgba(255, 0, 0, 1);
    background-repeat: no-repeat;   
}



.ul_proyectos_neon li:hover{
    color: #111;
}


.ul_proyectos_neon li:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	transform: scaleY(0);
	transition: transform 0.5s;
	transform-origin: bottom;
    background: rgb(255, 0, 0);
    border-radius: 1.3vh;
    
}

.ul_proyectos_neon li:hover:before
{
	transform: scaleY(1);
	transition: transform 0.5s;
	transform-origin: top;
}

.ul_proyectos_neon li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff0000;
    z-index: -1;
    transform: scaleY(0);
    transition: transform 0.5s; 
    transform-origin: bottom;
    filter: blur(40px);
  }
  
  .ul_proyectos_neon li:hover:after {
    transform: scaleY(1);
    transition: transform 0.5s;
    transform-origin: top;
  }
  


.ul_proyectos_neon li a{
    text-decoration: none;
    font-family: var(--fuente-personalizada);
    font-family: 'FuenteCyberpunk';
    font-size: 2.5vh;
    max-width: 90%;
}


@media (max-width: 480px) {
    .titulo {
        font-size: 2em;
    }

    .titulo_tarjeta,
    .subtitulo {
        font-size: 2vh;
    }

    .img_area_foto,
    .foto_perfil {
        width: 90%;
    }

    .ul_proyectos_neon li {
        font-size: 1em;
        padding: 4%;
    }
}


.separador_titulo_proyectos{
    border: 0.2vh solid red;
    width: 78%;
    margin: auto;
    margin-bottom: 0.3vh;
}


.separador_proyectos{
    border: 0.1vh solid rgb(255, 0, 0);
    width: 66%;
    margin: 2vh;
    
}



.img_proyectos{
    width: 3vh;
    height: 3vh auto;
}


.nombre{
    font-size: 3em;
    text-align: center;
}

.form{
    margin-bottom: 10%;
    width: 60%;
}

form{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    font-size: 2.5em;
    background-image: url("./assets/images/wallpaper.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10vh;
    padding: 2%;
    min-width: 50%;
    background-color: rgba(0, 0, 0, 0.7); /* Capa oscura con 50% de opacidad */
    background-blend-mode: overlay; /* Mezcla el color con la imagen */
    height: auto;
    margin: auto;
    margin-bottom: 5vh;
}


form input{
    min-height: 2.5vh;
    color: black;
    font-size: 0.3em;
}

form input:hover{
    background-color: red;
    transition: 0.5;
    color: white;
}


form label{
    font-size: 2.5vh
}
.separador_form{
    border: 0.1vh solid rgb(255, 0, 0);
    margin-bottom: 2%;

}


.galeria_grid{
    background-color: rgba(0, 0, 0, 0.4); /* Capa oscura con 50% de opacidad */
    display: grid; /* Uso de grid para cumplir con los requisitos del proyecto de la fp */
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Ajuste automático */
    grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));    /* 2 filas iguales */
    border: 2px solid red;
    box-shadow:
      0 0 2px red,
      0 0 7px red,
      0 0 7px red;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    margin-top: 1.5%;
    margin-bottom: 2%;
    margin-right: 2%;
    
}


.galeria_grid_cuadrado{
    display: flex;   
    flex-direction: column;             
    justify-content: center;      
    align-items: center;          
    width: auto;
    height: auto;
    border: 2px solid red;
    box-shadow:
      0 0 3px red,
      0 0 5 red,
      0 0 10 red;
    margin: 0;
    padding: 0;
}

.imagen_galeria{
    width: 10vh;
    height: auto;
    margin: 0;
    padding: 0;
}

.galeria_grid_cuadrado:hover{
    background-color: red;
    color: white;
}

