@font-face {
    font-family: 'FuenteCyberpunk';
    src: url('./assets/fonts/glitch_goblin/GlitchGoblin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  



* {
    color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    font-family: var(--fuente-personalizada);
    height: 100%;
    font-family: 'FuenteCyberpunk';
}

body {
    background-image: url("./assets/images/wallpaper_ia_reescalado.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    padding: 2%;
    

}

.tarjeta{
    border-radius: 1%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Negro semitransparente */
    display: flex;
    flex-direction: column;
}

.titulo{
    text-align: left;
    margin-left: 2%;

}
header{
    background-color: rgba(255, 0, 0, 0.57); /* Negro semitransparente */;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1.3vh;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    


}

.ul_rrss{
    display: flex;
}

li{
    text-decoration: none;
}

.li_rrss{
    list-style-type: none;
    margin: 2vh;
}

.rrss{
    height: auto;
    width: 5vh;
}

.area_perfil{
    display: flex;
    flex-grow: 1;  /* rellena el espacio restante*/
    border-radius: 1%h;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    overflow:hidden; /* evita el scroll */
}



.img_area_foto{
    border-radius: 100%;
    width: 50%;
    height: auto;
}






.titulo_foto{
    text-align: center;
    margin:5%;
}


.cuadro{
    flex: 1;
    align-items: center;
    align-content: center;
    border: 1px solid yellow;
    font-size: 3em;
}

.cuadro_bio{
    display: flex;
    flex: 1;
    margin: 5px;
    align-items: center;
    align-content: center;
    margin-bottom: 10%;
    min-width: 33%;
    margin-top: 11vh;
    flex-direction: column;
}

.cuadro_projectos{
    align-content: center;
    align-items: center;
    min-width: 33%;
}

.hero{
    display: flex;
    flex-direction: column;
    min-width: 33%;
    flex: 1;
    margin: 5px;
    justify-content: center;
    align-items: center;
}


.foto_perfil{
    width: 50%;
    height: auto;
    border-radius: 100%;
}


.titulo_tarjeta{
    text-align: center;
    font-size: 7vh;
}

.subtitulo{
    text-align: center;
    font-size: 1.5em;
}


.separador_bio{
    border: 1px solid red;
    width: 50%;
    margin-left: 2.75%; 
}

.bio{
    margin-top: 5%;
    text-align: center;
    font-size: 1.5em;
}


.h1_proyectos_neon{
    font-size: 5em;
}

.ul_proyectos_neon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	margin: 0;
	padding-top: 1%;
}


.ul_proyectos_neon li{
    position: relative;
	list-style: none;
	font-size: 2em;
	color: #fff;
	font-family: monospace;
	cursor: pointer;
	box-sizing: border-box;
	transition: 0.5s;
    z-index: 1;
    width: 75%;
    text-align:center;
    padding: 2%;
    border-bottom: 0.1vh solid rgba(255, 0, 0, 1);
    
}


.ul_proyectos_neon li:hover{
    color: #111;
}


.ul_proyectos_neon li:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	transform: scaleY(0);
	transition: transform 0.33s;
	transform-origin: bottom;
    background: rgb(255, 0, 0);
    border-radius: 1.3vh;
}

.ul_proyectos_neon li:hover:before
{
	transform: scaleY(1);
	transition: transform 0.5s;
	transform-origin: top;
}

.ul_proyectos_neon li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff0000;
    z-index: -1;
    transform: scaleY(0);
    transition: transform 0.5s; 
    transform-origin: bottom;
    filter: blur(40px);
  }
  
  .ul_proyectos_neon li:hover:after {
    transform: scaleY(1);
    transition: transform 0.5s;
    transform-origin: top;
  }
  


.ul_proyectos_neon li a{
    text-decoration: none;
    font-family: var(--fuente-personalizada);
    font-family: 'FuenteCyberpunk';
    font-size: 2.5vh;
    max-width: 90%;
}

.separador_titulo_proyectos{
    border: 0.2vh solid red;
    width: 78%;
    margin: auto;
    margin-bottom: 0.3vh;
}


.separador_proyectos{
    border: 0.1vh solid rgb(255, 0, 0);
    width: 66%;
    margin: 2vh;
    
}



.img_proyectos{
    width: 3vh;
    height: 3vh auto;
}


.nombre{
    font-size: 3em;
    text-align: center;
}

.form{
    margin-bottom: 10%;
    width: 60%;
}

form{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    font-size: 2.5em;
    background-image: url("./assets/images/wallpaper.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    padding: 2%;
    min-width: 50%;
    background-color: rgba(0, 0, 0, 0.5); /* Capa oscura con 50% de opacidad */
    background-color: rgba(0, 0, 0, 0.7); /* Capa oscura con 50% de opacidad */
    background-blend-mode: overlay; /* Mezcla el color con la imagen */
}


form input{
    min-height: 2.5vh;
    color: black;
    font-size: 0.3em;
}

form input:hover{
    background-color: red;
    transition: 0.5;
    color: white;
}

.separador_form{
    border: 0.1vh solid rgb(255, 0, 0);
    margin-bottom: 5%;

}


.galeria_grid{
    background-color: red;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas iguales */
    grid-template-rows: repeat(2, 1fr);    /* 2 filas iguales */
    border: 1px solid white;
    width: 100%;
    height: 100%;
}


.galeria_grid_cuadrado{
    width: 100%;
    height: 100%;
    border: 1px solid white;
}

.imagen_galeria{
    width: 10vh;
    margin: 30px;
    height: auto;
}